<div
    class="card">

<!-- wir wollen hier die Bilanz selbst darstellen.-->

    <div class="card-header">
        <h4 class="card-title"> Bilanz per {{item?.date}}<br><span class = "badge badge-pill badge-info">EUR {{item?.Bilanz | number}}</span></h4>
    </div>
    <div class="card-body">
        <table>
            <tr>
                <td>Datensatz-ID:</td>
                <td align="right">{{ item?.id }}</td>
            </tr>
            <tr>
                <td>Verkauf:</td>
                <td align="right">&euro; {{item?.EURin | number }}</td>
            </tr>
            <tr>
                <td>Einkauf:</td>
                <td>&euro; {{item?.EURout | number }}</td>
            </tr>
        </table>
        <p>
            <button
                class="btn btn-default"
                (click)=delete()>
                Löschen
            </button>
            <em style="color:green">{{message}}</em>
        </p>
  </div>
</div>