<div class="card">

    <div class="card-header">
        <h2 class="card-title">Einkauf</h2>
    </div>

    <div class="card-body">

         <form>
             <div class="form-group">
                 <label>Marke:</label>
                 <input [(ngModel)]="Marke" name="Marke" class="form-control">
             </div>
             <div class="form-group">
                 <label>Modell:</label>
                 <input [(ngModel)]="Modell" name="Modell" class="form-control">
             </div>

             <div class="form-group">
             <button
                 [disabled]="!Marke || !Modell"
                 (click)="search()"
                 class="btn btn-info col-3 mx-auto">
                 Search
            </button>
            </div>
        </form>

    </div>
</div>

<div class="card" *ngIf="Cars.length">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>Fahrzeug</th>
                <th>PS</th>
                <th>Hubraum</th>
                <th>0 auf 100</th>
                <th>Gewicht</th>
                <th>Baujahr</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of Cars"
                [class.table-active]="c === selectedCars">
                <td>
                    <span class="badge badge-pill badge-info">
                        {{ c.id}}
                    </span>
                </td>
                <td>{{ c.Marke}} {{c.Modell}}</td>
                <td>{{c.PS }}</td>
                <td>{{c.Hubraum}} ccm</td>
                <td>{{c.Beschleunigung}} Sekunden</td>
                <td>{{c.Gewicht}} kg</td>
                <td>{{c.Baujahr}}</td>
                <td>
                    <button
                        (click)="select(c)"
                        class="btn btn-info btn-sm"
                        style="min-width: 85px">
                        Select
                    </button>
                </td>
            </tr>
        <tbody>
    </table>

</div>

<div class="card" *ngIf="selectedCars">
    <div class="card-header">
      <h2 class="card-title">Car Edit</h2>
    </div>
    <div class="card-body">
  
      <div>
          {{ message }}
      </div>
  
      <form>
          <div class="form-group">
              <label>Id</label>
              <input [(ngModel)]="selectedCars!.id" name="id" class="form-control">
          </div>
  
          <div class="form-group">
              <label>Marke</label>
              <input [(ngModel)]="selectedCars!.Marke" name="Marke" class="form-control">
          </div>
  
  

  
          <div class="form-group">
            <button (click)="save()" class="btn btn-info col-3 mx-auto">Save</button>
          </div>
          <div class="form-group">
            <button (click)="remove(selectedCars)" class="btn btn-info col-3 mx-auto">Delete</button>
          </div>
      </form>
  
    </div>
  </div>


  <div class="card" *ngIf="selectedCars">
    <div class="card-header">
      <h2 class="card-title">Preis Update</h2>
    </div>
    <div class="card-body">
  
      <div>
          {{ message }}
      </div>
  
      <form>
          <div class="form-group">
              <label>Id</label>
              <input [(ngModel)]="selectedCars!.id" name="Id" class="form-control">
              <label>Preis</label> 
              <input [(ngModel)]="selectedCars!.Einkaufspreis" name="Preis" class="form-control">
          </div>
  
          <div class="form-group">
            <button (click)="update(selectedCars)", class="btn btn-default">Update</button>
          </div>
      </form>
  
    </div>
  </div>



  <!--

Auskommentiert, da bei Aktivierung die Funktionalität der suche nicht mehr gegeben war

  <div class="card">
    <div class="card-body"><h3>Neuer Eintrag</h3></div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>Marke</th>
                <th>Modell</th>
                <th>PS</th>
                <th>Hubraum</th>
                <th>Beschleunigung</th>
                <th>Gewicht</th>
                <th>Baujahr</th>
                <th>Einkaufspreis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><input [(ngModel)]="newEntry!.id" name="ID_new" value=0 class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Marke" name="marke" class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Modell" value=0 name="Modell" class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.PS" value=0 ame="PS" class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Hubraum" value=0 name="Hubraum" class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Beschleunigung" value=0 name="Beschleunigung" class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Gewicht" name="Gewicht" value=0 class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Baujahr" name="Baujahr" value=0 class="form-control"></td>
                <td><input [(ngModel)]="newEntry!.Einkaufspreis" name="Einkaufspreis" value=0 class="form-control"></td>
                <td><button class="btn btn-success" (click)="create(newEntry)">Save</button></td>
            </tr>
        </tbody>
    </table>
</div>
-->
