<!--
    Layout:
    Button für neue Bilanzberechnung
        Ergebnis: Anzeige der Informationen in div-cards (wie beim Flugservice am Anfang)
        mit Button zur Möglichkeit der Änderung
        mit Button zur Möglichkeit der Löschung
    Button für das Auslesen der vorhandenen Bilanzdaten
        Ergebnis: cards mit allen Informationen + Berechnung der Bilanz
        mit Button zur Möglichkeit der Änderung
        mit Button zur Möglichkeit der Löschung
    -->

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Buchhaltung</h2>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div>
            <button class="btn btn-info col-3 mx-auto" (click)="toggleDisplay()">
            Eintrag aktueller Bilanzdaten
            </button>
        </div>
        <div>
            <button class="btn btn-info col-3 mx-auto" (click)="search()">
                Anzeige aller gespeicherten Bilanzdaten
            </button>
        </div>
    </div>
</div>

<!-- TODO: diesen part in Cards für die Erstellung neuer Einträge verschieben -->
<!--<div class="card" *ngIf="Buchhaltung_add.length">-->
<div class="card" *ngIf="toDisplay">
    <div class="card-body"><h3>Bilanzeingabe</h3></div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>Datum</th>
                <th>Autos verkauft</th>
                <th>Autos gekauft</th>
                <th>Einnahmen (EUR)</th>
                <th>Ausgaben (EUR)</th>
                <th>Bilanz (EUR)</th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <div class="form-group">
                    {{generateID()}}
                </div>
            </td>
            <td>
                <div class="form-group">
                    {{date | date: "dd.MM.yyyy"}}
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input [(ngModel)]="numbersCarsSold" name="numbersCarsSold" class="form-control">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input [(ngModel)]="numberCarsBought" name="numberCarsBought" class="form-control">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input [(ngModel)]="EURin" name="EURin" class="form-control" id="EURinput" [formControl]="EURinInput">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input [(ngModel)]="EURout" name="EURout" class="form-control" id="EURoutput" [formControl]="EURoutInput">
                </div>
            </td>
            <td>
                <div class="form-group">
                <div>{{bilanz(EURinInput.value, EURoutInput.value) | number }}</div>
                </div>
            </td>
            <td><button class="btn btn-success">Save</button></td>
        </tr>

    
    
    </tbody>
    </table>
</div>

<div class="card" *ngIf="Buchhaltung_Suche.length">
    <div class="card-header">
        <h3 class="card-title">Gespeicherte Bilanzeinträge</h3>
    </div>
</div>


<div class="row">
    <div
      *ngFor="let b of Buchhaltung_Suche"
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-buchhaltung-card [item]="b"></app-buchhaltung-card>
    </div>
  </div>

  <!--
  <div class="card">
    <div class="card-body">
      <pre>{{ basket | json }}</pre>
    </div>
  </div>
  -->