<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a class="simple-text">Projekt WebF DAT</a>
  </div>
  <ul class="nav">
    <li class="active">
      <a>
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a>
        <i class="nc-icon nc-bus-front-12"></i>
        <p>Fahrzeugvergleich</p>
      </a>
    </li>

    <li>
      <a>
        <i class="nc-icon nc-palette"></i>
        <p>Fahrzeug Editor</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-zoom-split"></i>
        <p>Fahrzeugsuche</p>
      </a>
    </li>
  </ul>
</div>
