<div class="card">

    <div class="card-header">
        <h2 class="card-title">Car Search</h2>
    </div>

    <div class="card-body">

         <form>
             <div class="form-group">
                 <label>Marke:</label>
                 <input [(ngModel)]="Marke" name="Marke" class="form-control">
             </div>
             <div class="form-group">
                 <label>Modell:</label>
                 <input [(ngModel)]="Modell" name="Modell" class="form-control">
             </div>

             <div class="form-group">
             <button
                 [disabled]="!Marke || !Modell"
                 (click)="search()"
                 class="btn btn-default">
                 Search
            </button>
            </div>
        </form>

    </div>
</div>

<div class="card" *ngIf="cars.length">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>Fahrzeug</th>
                <th>PS</th>
                <th>Hubraum</th>
                <th>0 auf 100</th>
                <th>Gewicht</th>
                <th>Baujahr</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cars"
                [class.table-active]="c === selectedCar">
                <td>
                    <span class="badge badge-pill badge-info">
                        {{ c.id}}
                    </span>
                </td>
                <td>{{ c.Marke}} {{c.Modell}}</td>
                <td>{{c.PS }}</td>
                <td>{{c.Hubraum}} ccm</td>
                <td>{{c.Beschleunigung}} Sekunden</td>
                <td>{{c.Gewicht}} kg</td>
                <td>{{c.Baujahr}}</td>
                <td>
                    <button
                        (click)="select(c)"
                        class="btn btn-info btn-sm"
                        style="min-width: 85px">
                        Select
                    </button>
                </td>
            </tr>
        <tbody>
    </table>

</div>

<div class="card" *ngIf="selectedCar">
    <div class="card-header">
      <h2 class="card-title">Car Edit</h2>
    </div>
    <div class="card-body">
  
      <div>
          {{ message }}
      </div>
  
      <form>
          <div class="form-group">
              <label>Id</label>
              <input [(ngModel)]="selectedCar!.id" name="id" class="form-control">
          </div>
  
          <div class="form-group">
              <label>Marke</label>
              <input [(ngModel)]="selectedCar!.Marke" name="Marke" class="form-control">
          </div>
  
          <!-- Add the other input fields for the Flight accordingly -->
  

  
          <div class="form-group">
            <button (click)="save()" class="btn btn-default">Save</button>
          </div>
      </form>
  
    </div>
  </div>


<div class="card">
    <div class="card-body">
        <pre>{{ selectedCar | json }}</pre>
    </div>
</div>

