<div class = "card">
    <div class="card-header">
        <h2 class="card-title">Autoshopping</h2>
        <p>Willkommen, wir Autoshopping, bla bla</p>
    </div>
</div>
<div>
    <a href = "https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly">
        <img src="https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly"
        href = "https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly"
        alt = "home-picture main"
        title = "copied from i.chzbgr.com">
    </a>
    
</div>