<div class = "card">
    <div class="card-header" style="background-color:rgb(174, 63, 63)">
        <h2 class="card-title" style="font-family:verdana;">Autoshopping</h2>
        <p style="font-size:160%;">Willkommen, bei Ihrem Auto Bazar No.1.</p>
        <p style="font-size:110%;">Ob Verkauf oder Einkauf, bei uns werden Sie fündig!</p>
    </div>
</div>
<div class="card">
    <a href = "https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly">
        <img src="https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly"
        href = "https://i.chzbgr.com/full/9340125696/h6705DE66/funny-meme-that-reads-customer-cargo-space-me-car-no-do-that-car-no-fly"
        alt = "home-picture main"
        title = "copied from i.chzbgr.com">
    </a>
    
</div>